@model ListTienTrongKetModel
@using Nop.Web.Models.ChuyenPhatNhanh
@{
    Layout = "~/Views/Shared/_NhaXeLayout.cshtml";

    //page title
    ViewBag.Title = "Danh sách luân chuyển tiền";
}

<table style="width:100%">
    <tr>
        <td style="text-align:right;border-right:2px solid #808080;border-bottom:2px solid #808080; ">
            <table style="width:100%">
                <tr>
                    <td style="text-align:left;">
                        <span style="font-weight:bold;font-size:15px">Nhập tiền trong két đầu ca</span> [<span style="color:red;font-style:italic">Bạn đang thao tác tại văn phòng: <strong>@Model.TenVanPhongHienTai</strong></span>]
                    </td>
                    <td style="text-align:right;width:160px">
                        <input type="button" id="btnTaoMoi" class="k-button" value="Làm mới" />
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table style="width:100%">
                <tr>
                    <td style="text-align:right;width:80px;">
                        Ngày ký gửi:
                    </td>
                    <td style="">
                        @Html.EditorFor(m => m.NgayTao)
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width:55%;vertical-align:top;border-right:2px solid #808080">
            <div id="tabPhieuChuyenTien">

            </div>
        </td>
        <td style="vertical-align:top">
            <table style="width:100%">
                <tr>
                    <td style="width:120px;">
                        <input type="button" id="btnTimKiem" class="k-button" value="Lọc" style="width:100%" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="danhsach-grid"></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<script>
    function LoadPhieuChuyenTien(Id) {
        $('#tabPhieuChuyenTien').html($("#divLoadingContent").html());
        $.ajax({
            cache: false,
            type: "GET",
            url: "@(Url.Action("_TienTrongKetChinhSua", "HangHoa"))?Id=" + Id,
            success: function (data) {
                $('#tabPhieuChuyenTien').html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#tabPhieuChuyenTien').html("Có lỗi trong quá trình load dữ liệu");
            }
        });
    }
    function LoadDanhSach() {
        var _ngaytao = ConvertDateTimeSystem($('#@Html.FieldIdFor(model => model.NgayTao)').val());
        var adddata = {
            NgayTao: _ngaytao,
            VanPhongId: '@(Model.VanPhongId)'
        };
        $("#danhsach-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("_TienTrongKetList", "HangHoa"))",
                        type: "POST",
                        dataType: "json",
                        data: adddata
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
            },
            scrollable: true,
            columns: [ {
                field: "SoTien",
                title: "Số tiền",
                type: "number",
                format: "{0:n0} đ"
            }, {
                field: "GhiChu",
                title: "Ghi chú"
            }, {
                field: "NgayTao",
                title: "Ngày tạo",
                type: "date",
                format: "{0:HH:mm}"

            }]
        });

    }

    $(document).ready(function () {
        LoadPhieuChuyenTien(0);
        LoadDanhSach();
        $('#btnTaoMoi').click(function () {
            LoadPhieuPhatNhanh(0);
        });
        $('#btnTimKiem').click(function () {
            LoadDanhSach();
        });
        $("#@Html.FieldIdFor(m=>m.NgayTao)").change(function (event) {
            LoadDanhSach();
        });
    });
</script>
<style>
    .k-grid table tr:hover td {
        background: rgba(220, 239, 173, 0.38) !important;
    }
</style>